.connections {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 384px;
  width: 220px;
  height: 450px;
  background: white;
  font-size: 1rem;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 2px 1px 1px rgba(82, 82, 82, 0.1);

  .con-num {
    margin-top: 38px;
    font-size: 1.8rem;
    letter-spacing: -1.2px;
    font-weight: 300;
    color: #0090C7;
    cursor: pointer;
  }
  .your {
    margin-top: 10px;
    font-size: 0.87rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .see-all {
    margin-top: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #0090C7;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  img {
    margin-top: 10px;
    cursor: pointer;
  }
}