.footer {
  position: fixed;
  right: 18%;
  top: 400px;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #888A97;

  .footer-row1 {
    .flex-center-mix();
    margin: 15px;

    div {
      margin: 20px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-row2 {
    .flex-center-mix();
    margin: 15px;

    div {
      margin: 20px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-row3 {
    .flex-center-mix();
    margin: 15px;

    div {
      margin: 20px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-row4 {
    .flex-center-mix();
    margin: 15px;

    div {
      margin: 10px;
    }
  }
}