@import 'reset';
@import 'top';
@import 'ad';
@import 'connections';
@import 'invitations';
@import 'pymk';
@import 'promoted';
@import 'footer';
@import 'person';
@import 'bubbles';

.flex-center-mix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mix {
    color: #0088BB;
    font-weight: bold;
    background: white;
    border-radius: 2px;
    border: 1px solid #0088BB;
    padding: 1px;
    cursor: pointer;

    &:hover {
      background: #BFDDEA;
      border: 2px solid #0077AD;
      padding: 0;
      color: #0077AD;
    }
}