.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 170px;
  padding: 25px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid rgba(226, 226, 226, 0.4);

  .delete-person {
    visibility: hidden;
  }

  .person-name {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .job {
    font-size: 0.65rem;
    font-weight: 300;
    margin-bottom: 10px;
  }

  img {
    margin-top: -40px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover {
    background: #F2F6F8;

    .delete-person {
      position: relative;
      left: 80px;
      top: -19px;
      visibility: visible;
      cursor: pointer;
      fill: #6D6F70;
    }
  }

  button {
    width: 90px;
    height: 25px;
    .button-mix();
  }
}