body {
  background: #F5F5F5;
}
body,
#root {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 62.5%;
}
#root {
  width: 100%;
}
.top-container {
  display: flex;
  justify-content: center;
  background: #2A414B;
  width: 100%;
}
.top-container .top-bar {
  width: 60%;
  height: 44px;
  padding: 7px 30px 0 30px;
  font-size: 0.71rem;
  letter-spacing: 0.5px;
  color: white;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-container .top-bar .search {
  width: 50%;
  height: 44px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.top-container .top-bar .search .logo {
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;
  padding: 10px 0 0 0;
  margin-bottom: 4px;
  cursor: pointer;
}
.top-container .top-bar .search .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  color: #6A7C84;
  background: #E0E9ED;
  margin-bottom: 6px;
  border-radius: 2px;
}
.top-container .top-bar .search .search-box svg {
  fill: #2A414B;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}
.top-container .top-bar .search .search-box input {
  width: 250px;
  height: 27px;
  text-align: start;
  background: none;
  border: none;
}
.top-container .top-bar .search .search-box input:focus {
  outline: none;
}
.top-container .top-bar .top-middle {
  width: 60%;
}
.top-container .top-bar .top-middle g {
  fill: #C5D0D7;
}
.top-container .top-bar .top-middle .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}
.top-container .top-bar .top-middle .navigation .nav-buttons {
  display: flex;
  flex-direction: row;
}
.top-container .top-bar .top-middle .navigation .Home,
.top-container .top-bar .top-middle .navigation .Notifications,
.top-container .top-bar .top-middle .navigation .Jobs,
.top-container .top-bar .top-middle .navigation .Messaging,
.top-container .top-bar .top-middle .navigation .My-Network {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 43px;
  cursor: pointer;
  color: #C5D0D7;
}
.top-container .top-bar .top-middle .navigation .Home .icon,
.top-container .top-bar .top-middle .navigation .Notifications .icon,
.top-container .top-bar .top-middle .navigation .Jobs .icon,
.top-container .top-bar .top-middle .navigation .Messaging .icon,
.top-container .top-bar .top-middle .navigation .My-Network .icon {
  margin-bottom: -2px;
}
.top-container .top-bar .top-middle .navigation .Home:hover,
.top-container .top-bar .top-middle .navigation .Notifications:hover,
.top-container .top-bar .top-middle .navigation .Jobs:hover,
.top-container .top-bar .top-middle .navigation .Messaging:hover,
.top-container .top-bar .top-middle .navigation .My-Network:hover {
  color: white;
}
.top-container .top-bar .top-middle .navigation .Home:hover g,
.top-container .top-bar .top-middle .navigation .Notifications:hover g,
.top-container .top-bar .top-middle .navigation .Jobs:hover g,
.top-container .top-bar .top-middle .navigation .Messaging:hover g,
.top-container .top-bar .top-middle .navigation .My-Network:hover g {
  fill: white;
}
.top-container .top-bar .top-middle .navigation .user-dropdown {
  width: 80px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #C5D0D7;
  border-right: 1px solid #5B707A;
}
.top-container .top-bar .top-middle .navigation .user-dropdown:hover {
  color: white;
}
.top-container .top-bar .top-middle .navigation .user-dropdown .profile-pic {
  background: #a1a1a1;
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 50%;
}
.top-container .top-bar .top-middle .navigation .user-dropdown .user-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3px;
}
.top-container .top-bar .top-middle .navigation .user-dropdown .user-title .arrow {
  padding: 3px 0 0 2px;
  font-family: "Arial Unicode MS";
  font-size: 9px;
}
.top-container .top-bar .top-middle .navigation .My-Network {
  color: white;
  border-bottom: 3px solid white;
}
.top-container .top-bar .top-middle .navigation .My-Network g {
  fill: white;
}
.top-container .top-bar .work {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-container .top-bar .work .work-dropdown {
  width: 80px;
  height: 43px;
  margin-left: -12px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #C5D0D7;
}
.top-container .top-bar .work .work-dropdown .work-title {
  margin-left: 4px;
}
.top-container .top-bar .work .work-dropdown .work-title .arrow {
  padding: 3px 0 0 2px;
  font-family: "Arial Unicode MS";
  font-size: 9px;
}
.top-container .top-bar .work .work-dropdown svg {
  fill: #C5D0D7;
}
.top-container .top-bar .work .work-dropdown:hover {
  color: white;
}
.top-container .top-bar .work .work-dropdown:hover svg {
  fill: white;
}
.top-container .top-bar .work .upgrade {
  margin-left: 10px;
  margin-bottom: 2px;
  color: #d8caa5;
  font-size: 0.85rem;
  cursor: pointer;
}
.top-container .top-bar .work .upgrade:hover {
  text-decoration: underline;
}
.ad {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.83rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  margin-top: 15px;
  cursor: pointer;
}
.ad .actual-ad {
  text-decoration: underline;
}
.ad .ad-tagline {
  color: #0b8bb3;
}
.ad .ad-end {
  color: #6E6E6E;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 10px;
  font-weight: normal;
}
.ad .ad-end .ellipsis {
  margin-top: 2px;
}
.connections {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 384px;
  width: 220px;
  height: 450px;
  background: white;
  font-size: 1rem;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 2px 1px 1px rgba(82, 82, 82, 0.1);
}
.connections .con-num {
  margin-top: 38px;
  font-size: 1.8rem;
  letter-spacing: -1.2px;
  font-weight: 300;
  color: #0090C7;
  cursor: pointer;
}
.connections .your {
  margin-top: 10px;
  font-size: 0.87rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.connections .see-all {
  margin-top: 8px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #0090C7;
  cursor: pointer;
}
.connections .see-all:hover {
  text-decoration: underline;
}
.connections img {
  margin-top: 10px;
  cursor: pointer;
}
.flex-center-mix {
  display: flex;
  justify-content: center;
  align-items: center;
}
